@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  background-image: url("https://images.unsplash.com/photo-1614849286521-4c58b2f0ff15?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
}

a {
  color: ivory;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #71a0c8;
  color: ivory;
  text-align: center;
}

.jokeButton {
  margin-top: 30;
  text-align: center;
  width: 200px;
  height: 40px;
  align-self: center;
  margin-top: 10%;
  background-color: #add8e6;
  color: #fd0289;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  border-color: lightpink;
  border-radius: 4px;
  font-weight: bold;
  font-size: larger;
  font-family: 'Oswald', sans-serif;
}

.setup {
  margin-top: 10%;
  text-align: center;
  font-size: x-large;
}

.punchline {
  margin-top: 10%;
  text-align: center;
  font-size: x-large;
}

.navCSS {
  display: flex;
  background-color: #add8e6;
  justify-content: center;
  color: #fd0289;
  font-size: xx-large;
}

.navText {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Oswald', sans-serif;
}

.navbar > .navContainer {
  display: flex;
  justify-content: center;
}
